/** Genel css **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: url(images/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
body {
  background-color: #fff0;
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #02020269;
  z-index: -1;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
.battery-section {
  background-color: #ffffffc9;
  border-radius: 10px;
  margin-top: 1rem;
  width: 70%;
  height: 300px;
  margin: auto;
}
#image-bear {
  height: 300px;
  text-align: center;
  margin-top: 2rem;
}
.bear {
  height: 100%;
}
/** Renk vermek icin classlar **/
.green {
  background-color: rgb(43, 201, 43);
  color: rgb(49, 227, 49);
}
.orange {
  background-color: rgb(238, 132, 12);
  color: rgb(233, 149, 51);
}
.red {
  background-color: rgb(224, 39, 39);
  color: rgb(233, 79, 79);
}
/** Battery default degerler **/
.battery-body {
  width: 100px;
  height: 60px;
}
.battery-head {
  width: 40px;
  height: 20px;
  background-color: black;
}
.battery-text {
  width: 60px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  line-height: 29px;
}
